Package: enigma2-plugin-oscam-skyde-status
Replaces: enigma-plugin-oscam-skyde-status
Priority: optional
Version: 0.9a1
Architecture: all
Maintainer: Robert Damas <https://github.com/rdamas>
Description: Auslesen und Verlängern der Oscam-Entis einer V13 und V14
Section: misc
Depends: python-requests,python-json
Homepage: https://github.com/rdamas/oscam-skyde-status
